<h2>New Community</h2>

<div class="row">
    <div class="col-sm-6">
        <%= render "form.html", Map.put(assigns, :action, Routes.community_path(@conn,
:create)) %>
    </div>
</div>

<span><%= link "Back", to: Routes.community_path(@conn, :index) %></span>
