<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Reddit", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12 pt-3 pb-3">
            <div class="float-right">
              <%= if Pow.Plug.current_user(@conn) do %>
                <div class="dropdown show float-right">
                  <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= @current_user.full_name %>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link "Profile", to: Routes.user_path(@conn, :profile, @current_user.username), class: "dropdown-item" %>
                    <%= link "Settings", to: Routes.pow_registration_path(@conn, :edit), class: "dropdown-item" %>
                    <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "dropdown-item" %>
                  </div>
                </div>

                <div class="karma float-left mt-2 mr-2">
                  <%= @current_user.karma %>
                  <span class="fa fa-star text-warning"></span>
                </div>
              <% else %>
                <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "btn btn-outline-primary" %>

                <%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: "btn btn-primary" %>
              <% end %>
              </div>

              <p class="h3"><a href="/">Reddit</a></p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
