<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Reddit", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12 pt-3 pb-3">
            <div class="float-right">
              <div class="dropdown show float-right">
                <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  some fake
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/u/somefake">Profile</a>
                  <a class="dropdown-item" href="/accounts/edit">Settings</a>
                  <a class="dropdown-item" rel="nofollow" data-method="delete" href="/accounts/sign_out">Sign Out</a>
                </div>
              </div>
              <div class="karma float-left mt-2 mr-2">
                0
                <span class="fa fa-star text-warning"></span>
              </div>
            </div>
            <p class="h3"><a href="/">Reddit</a></p>
          </div>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
