<div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <p class="h4"><%= @user.full_name %></p>
    <p><%= @user.username %></p>
    <p>
      <%= @user.bio %>
    </p>

    <p>Karma: <%= @current_user.karma %> <span class="fa fa-star text-warning"></span></p>
    <p>Cake day: <%= inserted_at(@user.inserted_at) %>
</div>
